<div class="devices-wrapper" *ngIf="trackingDevices.length > 0; else noDevices">
  <div class="device-wrapper" *ngFor="let device of trackingDevices">
    <div class="device-card">
      <div class="device-header">
        <h3>{{ device.User.deviceInfo.name }}</h3>
        <p><strong>Type:</strong> {{ device.User.deviceInfo.type }}</p>
        <p><strong>Model:</strong> {{ device.User.deviceInfo.model }}</p>
        <p><strong>Description:</strong> {{ device.User.deviceInfo.description }}</p>

        <ng-container *ngIf="device.LatestLocation && device.LatestLocation.length > 0; else noLocation">
          <p>
           <strong>Location:</strong> Lat: {{ device.LatestLocation[0].latitude }}, Lon:
          {{ device.LatestLocation[0].longitude }}
       </p>
        </ng-container>

        <ng-template #noLocation>
          <p><strong>Location:</strong> Not available</p>
        </ng-template>

        <p class="active">
          <strong>Status:</strong>
          {{ device.User.deviceInfo.status || 'active' }}
        </p>

        <div
          class="activeDevice"
          *ngIf="device.User.deviceInfo.status === 'active'; else deviceIsLost">
        </div>
      </div>

      <div class="location-overlay">
        <button class="go-location-btn" (click)="goToLocation()">Go to Location</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noDevices>
  <p>No devices found in storage.</p>
</ng-template>

<ng-template #deviceIsLost>
  <div class="inactiveDevice">Device Lost</div>
</ng-template>
