#map {
  height: 60vh;  
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.blinking-circle {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 0; }
}
#map {
  height: 60vh;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: #a39519;
  text-align: center;
  margin: 1px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  color: #333;
  margin: 20px 5% 10px 5%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.all-devices {
  display: flex;  
  margin-top: 20px;               
  flex-wrap: nowrap;              
  gap: 20px;
  padding: 3px 3%;
  overflow: auto;               
  position: relative;
  scrollbar-width: none;
}


.device-card {
  flex: 0 0 250px;  
  height: 240px;              
  background-color: #14376b;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;      
  margin-bottom: 10px;
}

.device-card:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
  background: linear-gradient(135deg, #042b4d, #053c69);
}

.device-card.no-location {
  opacity: 0.6;
  cursor: not-allowed;
  background: #656575;
  border-color: #222021;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.all-devices.scrolling {
  animation: scroll-left 30s linear infinite;
}

