.addDeviceForm {
width: 90%;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    color: #fcfcfc;
    margin-left: 5%;
   
  }
  
  .input-group {
    position: relative;
    margin-bottom: 25px;
  }
  
  .input-group input {
    width: 90%;
    left: 5%;
    padding: 12px 10px;
    font-size: .97rem;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    background: transparent;
    color: #fafafa;
    outline: none;
    transition: border-color 0.3s ease, background 0.3s ease;
    font-family: inherit;
  }
  
  .input-group label {
    position: absolute;
    left: 10px;
    top: 12px;
    color: rgba(225, 211, 204, 0.6);
    font-size: 0.9rem;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    top: -8px;
    left: 5px;
    font-size: 1rem;
    padding: 0 4px;
  }
  
  .input-group input:focus {
    border-bottom: 2px solid #cac1c3;
    background: rgba(126, 16, 44, 0.05);
  }
  
  .input-group input::placeholder {
    color: transparent;
  }
  #addBtn {
    position: absolute;       
    right: -160px;              
    top: 40%;                 
    transform: translateY(-50%); 
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background: linear-gradient( 135deg, #2b1319 0%,  #411721 50%, #58423f 100%);
  
    color: #E1D4C1;            
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px; 
    z-index:2;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards 0.5s;
}
#addBtn:hover {
    transform: translateY(-50%) scale(1.1);
}


#addBtn .addBtn {
    font-size: 5rem;      
    letter-spacing: 3px;
    color: #E1D4C1;        
}
#addBtn.active {
  opacity: 1;
  transition: 1s ease-in-out;
}
.addDeviceForm p {
  font-size: 1.2rem;             
  font-weight: 600;           
  text-align: center;       
  color: #E1D4C1;                       
  letter-spacing: 1px;           
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-family: "Poppins", sans-serif;       
}
