.user-container {
    margin-top: 10%;
    height: 50%;
    width: 80%;
    margin-left: 5%;
    padding: 20px;
    color: rgb(184, 109, 11);
    transition: box-shadow 0.3s ease; 
    overflow:hidden;
}

.user-container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}

.device-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.device-info:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
}

.name h3 span,
.contact-info p span,
.device-box h3 span {
    transition: color 0.3s ease;
}

.user-container:hover .name h3 span,
.user-container:hover .contact-info p span,
.user-container:hover .device-box h3 span {
    color: rgb(150, 75, 0);
}
