body, html {
  overflow: hidden; 
  height: 100%;
}


.title {
    font-size: 1rem;
    font-weight: bold; 
    color: #6a920c; 
    text-align: center; 
    margin-bottom: 3px; 
    text-transform: uppercase; 
    letter-spacing: 10px; 
    font-family: 'Arial', sans-serif; 
  }
  
  .title::after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background-color: #3c7df0; 
    margin: 5px auto;
  }
  .title {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  

.wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden; 
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
    white-space: nowrap; 
  }
  
  .card {
    width: 250px;
    height: 460px;
    border-radius: 15px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.4s ease-out;
    flex-shrink: 0;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: translateY(10px);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(1, 21, 49, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  
  .card:hover:before {
    opacity: 1;
  }
  
  .card .upload-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .card .absolute-upload-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 5;
  }
  
  .card img.device-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  
 
  .info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    color: rgb(255, 255, 252);
    opacity: 0; 
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease; 
   margin: auto;
   top: 35%;
  }
  .card:hover .info {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  .info h1 {
    margin: 0;
  }
  
  .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: rgb(10, 92, 133);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  
  .info button:hover {
    background: rgb(2, 18, 34);
    color: rgb(14, 13, 13);
  }
  