
.home-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}
.pin-container{

}

.pin {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 50% 40%, #b71c1c, #2c0000);
  box-shadow: inset 0 0 18px rgba(255, 100, 100, 0.6);
  filter: brightness(1.2) saturate(1.3);
  animation: glowPulse 2.5s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.pin::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, rgba(73, 7, 7, 0.5) 0%, rgba(100, 0, 0, 0) 70%);
  border-radius: 50%;
  filter: blur(6px);
  opacity: 0.6;
  z-index: 0;
}

.plus {
  position: relative;
  transform: rotate(45deg);
  color: rgba(151, 139, 139, 0.95);
  font-size: 49px;
  font-weight: 800;
}

@keyframes glowPulse {
  0% {
    transform: rotate(-45deg) scale(1);
    box-shadow: inset 0 0 15px rgba(255, 100, 100, 0.5);
  }
  50% {
    transform: rotate(-45deg) scale(1.08);
    box-shadow: inset 0 0 30px rgba(255, 150, 150, 0.8);
  }
  100% {
    transform: rotate(-45deg) scale(1);
    box-shadow: inset 0 0 15px rgba(255, 100, 100, 0.5);
  }
}
#logo-name{
  margin-top: 35px;
  margin-left: 134px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 800;
  color: rgb(124, 120, 120);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: italic;

}
#small-i{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 600; 
}
.content{
 
  justify-content: center;
  color: rgb(204, 198, 198);
  text-align: center;
  letter-spacing: 1px;
}
@keyframes gradient-shine {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.explore-btn {
  position: relative;
  padding: 12px 56px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 35px;
  color: #fff;
  background: linear-gradient(120deg, #ff002b, #420000, #000000, #ff002b);
  background-size: 300% 300%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(255, 0, 40, 0.4);
  transition: all 0.3s ease;
  animation: gradient-shine 5s ease infinite;
}
.explore-btn:hover {
  box-shadow: 0 0 20px rgba(43, 3, 9, 0.7);
  transform: scale(1.05);
}

footer{
  margin-top: 150px;
  text-align: center;
  color: rgb(92, 89, 89);
  font-size: 14px;
}


